.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  font-family: 'Arial', sans-serif;
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em; /* Adjusted for mobile */
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 10px; /* Reduced gap for mobile */
}

@media (min-width: 768px) {
  .navbar-logo {
    font-size: 1.5em;
  }
  .navbar-links {
    gap: 20px;
  }
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ad1457;
}